<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <!-- Local Scripts -->
    <script src="" async defer></script>
    <title>Document - Dashboard</title>
  </head>
  <body>
    <a href="/users/logout">Logout</a>
    <h1>Dashboard - Hello <%= user %></h1>
  </body>
</html>